@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

xul|page * {
	font-family:	Arial;
	font-size:		x-small;
}
xul|tree.contactlist {
	background-color:	#EEEEEE;
	background-position: -7px 0;
	height: 100%;
}
/*
xul|menupopup {
	background-color:	#EEEEEE;
	background-position: -5px 0;
}
*/
h1 {
	color:#5999DE;
}
form {
	font:100% Lucinda Grande, Sans-serif;
	margin: 0;
	padding: 0;
	min-width: 500px;
	max-width: 600px;
	width: 560px;
	border:1px solid #ccc;
	padding: 10px;
}
.entry {
	margin-top: .5em;
	margin-bottom:.5em;
	/*border: 3px dashed #aaa;*/
}
.entry-group {
	margin-top: .5em;
	margin-bottom:.5em;
	border:1px solid #ccc;
	border-radius: 16px;
	padding: 10px;
	/*align-content: center;*/
	display: flex;
}
.inline {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
.label-caption {
	color:#666666;
	float: left;
	width: 130px;
	padding: 0;
	text-align: right;
	margin-right: 10px;
}
label {
	color:#666666;
	text-align: center;
}
input, textarea, select {

}
.entry-button {
	padding-left:140px;
	padding-bottom:5px;
	padding-top:5px;
}
input:required {
	outline: 1px red solid;
	outline-radius: 3px;
	color:red;
}
.al_center {
	align-content: center;
}